/*Index*/
/*Header*/


.logo-header {
    color: black;
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        
}
.logo-link {
    color: #2196F3;
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
}

.nav-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;

}

.nav-list:hover,
:focus {
    color: #2196F3;
}


/*Main*/


body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-weight: 400;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.hero-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 60px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    text-align: center;
        color: #FFFFFF;
}
.hero-section {
background-color: #2f303a;
}
.hero-button {
    color: #FFFFFF;
    background-color: #2196F3;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            cursor: pointer;
}
.button-text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.06em;
    
        color: #FFFFFF;
}


.section-list {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #212121;
}
.section-list-text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
    
        color: #757575;
}
.section-title {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.03em;
    text-align: center;
        color: #212121;
}
.teammate-name {
font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
text-align: center;
    color: #212121;
}
.teammate-text {
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
text-align: center;
    color: #757575;
}
.team {
    background: #F5F4FA;
}
.team-list {
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}


/*Footer*/


footer {
    background-color: #2F303A;
}
.footer-nav {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-nav:hover, :focus {
    color: #2196F3
}
.contact-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #757575;
}

.address-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.contact-list:hover,
:focus {
    color: #2196F3
}

/*Portfolio*/

.filter-button {
        background: #F5F4FA;
        border-radius: 4px;
        cursor: pointer;
}
.filter-button-text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.03em;
        color: #212121;
}
.filter-button:hover, :focus {
    background: #2196F3;
}
.filter-button-text:hover, :focus {
    color: #FFFFFF;
}
.portfolio-text {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.03em;
        color: #757575;

}
.portfolio-name {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.06em;
        color: #212121;
}
.portfolio-list {
    box-sizing: border-box;
        background: #FFFFFF;
        border: 1px solid #EEEEEE;
}